.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(42, 44, 44);
  background: radial-gradient(
    circle,
    rgba(42, 44, 44, 1) 9%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.text {
  position: absolute;
  color: white;
  font-weight: bolder;
  margin: 10px;
  font-size: 1.7em;
}
